<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Banco</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLinkActive]="['text-danger']" [routerLink]="['index']" aria-current="page" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['text-danger']" [routerLink]="['login']" aria-current="page"
             class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['text-danger']" [routerLink]="['signup']" aria-current="page" class="nav-link">Sign
            up</a>
        </li>
        <!--        <li class="nav-item dropdown">-->
        <!--          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
        <!--            Dropdown-->
        <!--          </a>-->
        <!--          <ul class="dropdown-menu">-->
        <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
        <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
        <!--            <li>-->
        <!--              <hr class="dropdown-divider">-->
        <!--            </li>-->
        <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
        <!--          </ul>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
        <!--        </li>-->
      </ul>
      <!--      <form class="d-flex" role="search">-->
      <!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
      <!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
      <!--      </form>-->
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
